In [2]:
import pandas as pd

# Read CSV file
df = pd.read_csv("exams.csv")

# Display first 10 rows
print(df.head(10))

# Get dataset information
print(df.info())

# Check for missing values
print(df.isnull())

   gender race/ethnicity parental level of education         lunch  \
0    male        group A                 high school      standard
1  female        group D            some high school  free/reduced
2    male        group E                some college  free/reduced
3    male        group B                 high school      standard
4    male        group E          associate's degree      standard
5  female        group D                 high school      standard
6  female        group A           bachelor's degree      standard
7    male        group E                some college      standard
8    male        group D                 high school      standard
9    male        group C                some college  free/reduced

  test preparation course  math score  reading score  writing score
0               completed         NaN            NaN            NaN
1                    none         NaN            NaN            NaN
2                    none         NaN            NaN            NaN
3                    none         NaN           78.0           68.0
4               completed         NaN           73.0           68.0
5                    none        63.0           77.0           76.0
6                    none        62.0           59.0           63.0
7               completed        93.0           88.0           84.0
8                    none        63.0           56.0           65.0
9                    none        47.0           42.0           45.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   991 non-null    float64
 6   reading score                993 non-null    float64
 7   writing score                994 non-null    float64
dtypes: float64(3), object(5)
memory usage: 43.0+ KB
None
     gender  race/ethnicity  parental level of education  lunch  \
0     False           False                        False  False
1     False           False                        False  False
2     False           False                        False  False
3     False           False                        False  False
4     False           False                        False  False
..      ...             ...                          ...    ...
995   False           False                        False  False
996   False           False                        False  False
997   False           False                        False  False
998   False           False                        False  False
999   False           False                        False  False

     test preparation course  math score  reading score  writing score
0                      False        True           True           True
1                      False        True           True           True
2                      False        True           True           True
3                      False        True          False          False
4                      False        True          False          False
..                       ...         ...            ...            ...
995                    False       False          False          False
996                    False        True           True          False
997                    False        True           True           True
998                    False        True           True           True
999                    False        True           True           True

[1000 rows x 8 columns]